/Thumbnailing Service/build/
/Thumbnailing Service/bin/
/Thumbnailing Service/.gradle/
/Thumbnailing Service/.project
/Thumbnailing Service/.classpath
/Thumbnailing Service/.settings/
/Thumbnailing UI/build/
/Thumbnailing UI/bin/
/Thumbnailing UI/.gradle/
/Thumbnailing UI/.project
/Thumbnailing UI/.classpath
/Thumbnailing UI/.settings/